@media (min-width: 1200px){
    .logoBox{
        height: 100%;
        margin: 0 15px;

        cursor: pointer;
    }
}

@media (max-width: 1199px){
    .logoBox{
        height: 100%;
        margin: 0 15px;
    
        cursor: pointer;
    }
}